#btn_submit {
	text-align: center;
}

#user_data {
	background-color: grey;
	border-radius: 10px;
	box-shadow: 10px 10px 5px;
	margin-left: 35vw;
	min-width: 275px;
	padding: 1vh;
	text-align: center;
	width: 27vw;
}

p {
	text-align: center;
}

input {
	width: 45%;
}