#div_main {
    background-color: grey;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 2vh;
	width: 400px;
	text-align: center;
}

#pager {
	margin-left: 5vw;
	margin-top: 1vw;
	height: 5vh;
	width: 400px;
}

.div_image {
    background-color:rgb(97, 97, 97);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    width: 360px;
    margin-bottom: 1vh;
    margin-left: 10px;
    margin-right: 10px;
	margin-top: 1vh;
}

.image {
    max-width: 360px;
    max-height: 240px;
}

.pre_pagination {
    margin-left: 1vw;
}

.div_pager {
    float: left;
}

.div_panel {
    display: inline-block;
	margin-left: 1vw;
	margin-right: 1vw;
}