#div_body_main {
	display: inline-block;
	height: 65vh;
	margin-left: 5vw;
	margin-top: 20px;
	padding: 0px;
	width: 90vw;
}

#div_profile {
	float: left;
}

#frm_edit_profile {
	float: left;
	margin-left: 20px;
}

#div_header {
	display: inline-block;
	height: 10vh;
	margin-left: 5vw;
	padding: 0px;
	width: 90vw;
}

#div_header_title {
	display: inline-block;
	margin-left: 5vw;
	width: auto;
}

#frm_user_data {
	margin-left: 35vw;
	margin-top: 2vh;
	min-width: 275px;
	padding: 1vh;
	text-align: center;
	width: 27vw;
}

body {
	background-image: url('https://i.imgur.com/B0H8xuI.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header_btn {
	margin-left: 5vw;
	width: 5wv;
}

.transparent {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	outline: none;
}

.card {
	background-color: grey;
	border-radius: 10px;
	box-shadow: 10px 10px 5px;
}

.centered {
	text-align: center;
}

.btn_edit_profile {
	padding: 10px;
	font-size: 0.9em;
}

.field {
	padding-left: 10px;
	padding-right: 10px;
}