#browse {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	margin-left: 1vw;
	outline: none;
}

#footer {
	background-color: grey;
	border-radius: 15px;
	box-shadow: 10px 10px 5px;
	margin-left: 5vw;
	margin-top: 20px;	
	padding: 5px;
	text-align: center;
	width: 60vw;
}

#div_header_title {
	display: inline-block;
	margin-left: 5vw;
	width: auto;
}

#logout {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	margin-left: 1vw;
	outline: none;
}

#main {
	background-color: grey;
	border-radius: 15px;
	box-shadow: 10px 10px 5px;
	float: left;
	height: 65vh;
	padding: 0px;
	text-align: center;
	width: 91vw;
	margin-left: 5vw;
	margin-top: 20px;
}

#side {
	background-color: grey;
	border-radius: 15px;
	box-shadow: 10px 10px 5px;
	display: inline-block;
	min-width: 400px;
	margin-top: 20px;
	margin-left: 5vw;
	padding: 0px;
	text-align: center;
	width: 28.5vw;	
}

#upload {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	margin-left: 5vw;
	outline: none;
}

#overlays {
	display: inline-block;
	margin-left: 5vw;
	margin-top: 20px;
	padding: 0px;
	width: 91vw;
}

#control_panel {
	display: inline-block;
	margin-left: 5vw;
	margin-top: 20px;
	padding: 0px;
	width: 91vw;
}

.overlay {
    margin-left: 0px;
    margin-right: 0px;
    max-height: 75%;
    max-width: 160px;
}

.play-area-sub {
	margin: 5px;
}

